@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Leo Hates School";
  src: url("https://w-img.b-cdn.net/rtr/fonts/leo.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --font-display: "Leo Hates School", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  background-image: url("https://w-img.b-cdn.net/rtr/textures/exclusive-paper-60.png");
  background-repeat: repeat;
  color: var(--foreground);
}

.top-bar-bg {
  background-image: url("https://w-img.b-cdn.net/rtr/textures/exclusive-paper-60.png");
  background-repeat: repeat;
  opacity: 0.66;
}

.mobile-menu-bg {
  background-image: url("https://w-img.b-cdn.net/rtr/textures/lined-paper-2.png");
  background-repeat: repeat;
}

.no-scroll {
  overflow: hidden !important;
}

#cart {
  background-image: url("https://w-img.b-cdn.net/rtr/textures/lined-paper-2.png");
  background-repeat: repeat;
}
