@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Leo Hates School";
  src: url("https://w-img.b-cdn.net/rtr/fonts/leo.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Martian Mono", monospace;
  --font-mono: "Martian Mono", monospace;
  --font-display: "Leo Hates School", sans-serif;
}

html,
body {
  background: var(--background);
  background-image: url("https://w-img.b-cdn.net/rtr/textures/exclusive-paper-60.png");
  background-repeat: repeat;
  color: var(--foreground);
}

body {
  overflow-x: hidden;
}

.top-bar-bg {
  background-image: url("https://w-img.b-cdn.net/rtr/textures/exclusive-paper-60.png");
  background-repeat: repeat;
  opacity: 0.66;
}

.mobile-menu-bg {
  background-image: url("https://w-img.b-cdn.net/rtr/textures/lined-paper-2.png");
  background-repeat: repeat;
}

.no-scroll {
  overflow: hidden !important;
}

#cart {
  background-image: url("https://w-img.b-cdn.net/rtr/textures/lined-paper-2.png");
  background-repeat: repeat;
}

.policy p {
  margin: 16px 0;
}

.policy h2 {
  font-size: 16px;
  font-weight: bold;
}

.policy ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.policy li {
  list-style-type: decimal;
  margin-left: 24px;
}

.description ul {
  padding-left: 16px;
  padding-bottom: 16px;
}

.description li {
  list-style-type: disc;
  margin-left: 8px;
}

.description p {
  margin-bottom: 16px;
}

.description p:last-child {
  margin: 0;
}
